@model List<PäronAB.UI.ViewModels.TransactionViewModel>

@{
    ViewBag.Title = "Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var warehouses = Model.FirstOrDefault().Warehouses;
    var products = Model.FirstOrDefault().Products;
}
<h2>Add transaction</h2>
<form action="Transaction/Index" method="post">
    <table class="table table-responsive">
        <tr>
            <td>Date</td>
            <td>
                <input id="date" name="date" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" required="required" />
            </td>
        </tr>
        <tr>
            <td>Product</td>
            <td>
                <select name="product">
                    @foreach (var product in products)
                    {
                        if (products != null)
                        {
                            <option value="@product.SKU" id="sku">@product.Name</option>
                        }
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td>
                <input id="qty" name="qty" type="number" value="0" class="form-control" required="required" />
            </td>
        </tr>
        <tr>
            <td>Warehouse ID</td>
            <td>
                <select name="warehouse">
                    @foreach (var warehouse in warehouses)
                    {
                        if (warehouses != null)
                        {
                            <option value="@warehouse.ID" id="warehouse">@warehouse.Name</option>
                        }
                    }
                </select>
                @*<input id="warehouseId" name="warehouseId" type="number" min="0" value="" class="form-control" required="required" />*@
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Save" /></td>
            <td></td>
        </tr>
    </table>
</form>

@Html.Partial("TransactionPartial")



