@model IEnumerable<PäronAB.UI.ViewModels.TransactionViewModel>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Warehouse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderByDescending(d=>d.Date)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Warehouse)
        </td>
        <td class="sum">
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
    </tr>
}

</table>
